:root {
  scroll-behavior: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

.table {
  color: #333;
  width: 100%;
}

.table thead tr th {
  text-align: left;
}

.d-block {
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #24b8ff;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background-color: #f3f3f6;
  margin: 0px;
}

#headerLogo {
  max-width: 400px;
  max-height: 65px;
}

.page H1 {
  font-size: 60px;
  border-bottom: none;
  text-align: center;
  margin-bottom: 40px;
}

.page h2 {
  /*border-bottom: 1px solid #ccc;*/
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 40px;
  text-transform: none;
}

.page .section {
  min-height: 100px;
}

.page .sectionFirst {
  padding-top: 60px;
}

.page .videoDark {
  color: #FFFFFF;
}

.page .sectionDark {
  color: #FFFFFF;
}


.page .sectionDark .editor-link {
  color: #FFFFFF;
  font-weight: bold;
}

.page .sectionBG {
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  position: relative;
}

.page .sectionBG:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .55;
  box-sizing: inherit;
}

.section {
  color: #333;
}


#navbar.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none;
}

#navbar.transparent a {
  color: #FFF;
}




.capitalize {
  text-transform: capitalize;
}

.btn-warning,
.btn-warning:hover {
  color: #fff;
}

.logo {
  display: flex;
  width: 200px;
  margin-right: 15px;
}

.classroomTable tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#navbar {
  background-color: #fff !important;
  padding: 11px 0;
  margin-bottom: 20px;
  box-shadow: 0px 3px 3px 0px #999;
}

#navbar .nav-item {
  font-size: 14px;
}

#navbar .nav-link {
  color: #555;
  height: 55px;
  vertical-align: middle;
  line-height: 45px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#navbar svg {
  height: 15px;
  width: 15px;
}

#navbar .active {
  border-bottom: 2px solid #03a9f4;
}

.navbar-brand {
  margin-top: 5px;
  display: block;
}

.navbar-brand img {
  max-height: 35px;
  max-width: 100%;
  margin-bottom: 5px;
}

#navRight {
  white-space: nowrap;
}

#navRight img {
  width: 32px;
  height: 24px;
  margin-top: -3px;
  margin-right: 8px;
}

#userMenu {
  position: absolute;
  top: 55px;
  z-index: 9999;
  left: 0px;
  right: 0px;
}

#userMenu div {
  width: 223px;
  max-width: 100%;
  position: relative;
  background-color: #fff;
  color: #333;
  float: right;
  box-shadow: 3px 3px 3px #999;
}

#userMenu a,
#userMenu .label {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: #333;
  padding-right: 10px;
}

#userMenu .label {
  font-weight: 600;
  color: #333;
}

#userMenu a:hover {
  text-decoration: none;
  background-color: #03a9f4;
  color: #fff;
}

#userMenu .nav-item,
#userMenu .divider {
  border-top: 1px solid #f0f0f0;
}

#navSpacer {
  height: 57px;
  margin-bottom: 25px;
}

.blue {
  color: #03a9f4;
}

.inputBox {
  border: 1px solid #e7e7e7;
  margin-bottom: 30px;
}

.inputBox .header {
  border-top: 4px solid #03a9f4;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.inputBox .header i {
  margin-right: 5px;
}

.inputBox .header .col-4 i {
  color: #77cc00;
}

.inputBox .header .btn {
  margin-top: -2px;
}

.inputBox .subhead {
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.inputBox .content {
  padding: 10px;
  background-color: #ffffff;
}

.inputBox .content p {
  color: #666;
}

.inputBox .footer .btn {
  border-radius: 0px;
}

.inputBox .footer .col {
  padding-left: 0px;
  padding-right: 0px;
}

.inputBox .footer .col:first-child {
  padding-left: 12px;
}

.inputBox .footer .col:first-child .btn {
  border-bottom-left-radius: 5px;
}

.inputBox .footer .col:last-child {
  padding-right: 12px;
}

.inputBox .footer .col:last-child .btn {
  border-bottom-right-radius: 5px;
}

.inputBox .content label {
  color: #999;
}

.inputBox .section {
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.inputBox .content {
  overflow-x: hidden;
}

.inputBox .content ul {
  padding-left: 0px;
}

.inputBox .content li {
  list-style-type: none;
  margin-bottom: 10px;
}

.inputBox .content li i {
  margin-right: 5px;
}

.inputBox .content td i {
  margin-right: 5px;
}

.inputBox .footer button {
  width: 100%;
}

/*
.btn-primary { background-color:#77cc00; border-color:#70db86; }
.btn-primary:hover { background-color:#55aa00; border-color:#55aa00; }
*/
.btn-info {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-primary,
.btn-primary:disabled {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.btn-primary:hover {
  background-color: #0099e4;
  border-color: #0099e4;
}

.btn-success {
  background-color: #77cc00;
  border-color: #70db86;
}

.btn-success:hover {
  background-color: #55aa00;
  border-color: #55aa00;
}

.btn-danger {
  background-color: #cc0011;
  border-color: #cc0011;
}

.btn-danger:hover {
  background-color: #bb0000;
  border-color: #bb0000;
}

.nav-tabs {
  border-bottom: none;
}

.addableForm {
  padding-left: 12px;
}

.addableForm span {
  color: #999;
}

@media (min-width: 1200px) {
  .col-lg-2-5 {
    flex: 0 0 20.8%;
    max-width: 20.8%;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 425px) {
  .navbar-brand {
    padding-top: 12px;
  }
}

#footer {
  background-color: #333;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #eee;
}

#footer img {
  max-width: 450px;
  margin-bottom: 20px;
}

.form-control::placeholder {
  color: #ccc;
}

label .description {
  font-size: 12px;
  padding-left: 10px;
}

#searchResults {
  margin-top: 10px;
}

#searchResults td:last-child {
  text-align: center;
}

#searchResults img {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}

.form-check-input {
  position: unset;
  margin-right: 0.5rem;
}

.alert p {
  margin-bottom: 0;
}

.no-default-style {
  border: none;
  background: none;
}

.lead {
  font-size: 20px;
  font-weight: 300;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.role {font-weight: bold;}*/
/*.role {font-weight: bold; text-align: center;}*/

/*.part {border-bottom: 1px solid #ccc;padding-bottom: 20px;padding-top:20px}
.part:last-child { border-bottom: 0px;}
*/

dropdown-menu a {
  color: #03a9f4;
}

.imgCol {
  width: 100px;
}

.imgCol img {
  width: 100px;
}

.programAccordion .MuiAccordionDetails-root {
  padding-left: 16px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.programAccordion .MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px;
}

.programAccordion .MuiAccordionSummary-content.Mui-expanded {
  margin-bottom: 0px;
  margin-top: 0px
}

/*
#adminTree .programRow td:last-child {
  text-align: right;
}
#adminTree .programRow td:last-child a {
  color: #77cc00;
}

#adminTree .studyRow td:first-child {
  padding-left: 20px;
}
#adminTree .studyRow td:last-child {
  text-align: right;
}
#adminTree .studyRow td:last-child a {
  color: #77cc00;
}

#adminTree .lessonRow td:first-child {
  padding-left: 40px;
}
#adminTree .lessonRow td:last-child {
  text-align: right;
}
#adminTree .lessonRow td:last-child a {
  color: #77cc00;
}
*/

#adminTree .sectionRow td:last-child {
  text-align: right;
}

#adminTree .sectionRow td:last-child a {
  color: #77cc00;
}

#adminTree .roleRow td:first-child {
  padding-left: 20px;
}

#adminTree .roleRow td:last-child {
  text-align: right;
}

#adminTree .roleRow td:last-child a {
  color: #77cc00;
}

#adminTree .roleRow td {
  border-top: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#adminTree .actionRow td:first-child {
  padding-left: 40px;
  padding-right: 25px;
}

#adminTree .actionRow td:first-child a,
#adminTree .actionRow td:first-child span {
  overflow: hidden;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}

#adminTree .actionRow td {
  border-top: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hoverHighlight:hover {
  background-color: #FFFFCC;
}

.hoverHighlight td:last-child {
  opacity: 0;
  white-space: nowrap;
  text-align: right;
}

.hoverHighlight:hover td:last-child {
  opacity: 1;
}

.removed {
  color: #990000;
  text-decoration: line-through;
}

.removed td {
  position: relative;
}

.removed td:not(:last-child):before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid #990000;
}

/*
#resourceTree .bundleRow td:last-child {
  text-align: right;
}
#resourceTree .bundleRow td:last-child a {
  color: #77cc00;
}
#resourceTree .bundleRow td:last-child a i {
  margin-right: 1px;
}

#resourceTree .resourceRow td:last-child {
  text-align: right;
}
#resourceTree .resourceRow td:last-child a {
  color: #77cc00;
}
#resourceTree .resourceRow td:last-child .dropdown-menu a {
  color: #333;
}
#resourceTree .resourceRow td:first-child {
  padding-left: 15px;
}
#resourceTree .variantRow td:first-child {
  padding-left: 30px;
}
#resourceTree .assetRow td:first-child {
  padding-left: 30px;
}*/

.venueRow td:last-child {
  text-align: right;
}

.venueRow td:last-child a {
  color: #77cc00;
}

.scrollingList {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}



.accordion .card {
  background-color: #f3f3f6;
  border-right: none;
  border-left: none;
  margin-bottom: 10px;
}

.accordion .card-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.accordion .MuiAccordionSummary-root.Mui-expanded {
  background-color: #03a9f4;
  color: #FFF;
}

.accordion .card-header.active {
  background-color: #03a9f4;
}

.accordion .card-header.active .btn {
  color: #fff;
}

.accordion .card-body {
  background-color: #f1f1f1;
}

.accordion .collapse,
.accordion .collapsing {
  border: 1px solid #03a9f4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion .part {
  clear: both;
}

.accordion.part .part {
  padding: 10px;
}

.accordion .role {
  text-align: center;
  font-weight: bold;
  color: #00c213;
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.accordion .actions {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.accordion .actions>li {
  list-style-type: none;
}

.accordion .actions li {
  padding-left: 10px;
}

.accordion .play {
  clear: both;
  color: #333;
  margin-bottom: 5px;
}

.accordion .play li {
  list-style-type: none;
  margin-bottom: 10px;
}

.accordion .play li:before {
  content: "\f144";
  color: #00c213;
  font-family: "Font Awesome 5 Free";
  margin-left: -15px;
  margin-right: 10px;
  font-weight: bold;
}

.accordion .note {
  color: #777;
  font-style: italic;
  margin-bottom: 5px;
  padding-left: 30px;
}

.accordion .note b {
  color: #000;
}

.accordion blockquote {
  padding-left: 15px;
  margin-bottom: 15px;
  color: #555;
}

.accordion blockquote p:last-child {
  margin-bottom: 0px;
}

.accordion blockquote ol {
  text-align: left;
}

.accordion blockquote li {
  padding-bottom: 5px;
}

.accordion blockquote li ol,
.accordion blockquote li ul {
  padding-top: 5px
}

.materials {
  background-color: #03a9f4;
  color: #eee;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -8px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.materials a {
  color: #fff;
}

.btn-light {
  border: 1px solid #333;
}

/*blockquote {padding-left:20px;border-left:2px solid #24b8ff;margin-bottom: 10px;}*/

@media screen {
  .printOnly {
    display: none;
  }
}

@media print {
  .playPreview {
    display: none;
  }

  @page {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  body {
    background-color: #fff;
  }

  .collapse:not(.show) {
    display: block;
  }

  blockquote {
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-left: 20px;
  }

  .card {
    border: none;
  }

  .accordion {
    width: 100%;
  }

  .actions p {
    margin-bottom: 0.3rem;
  }

  .accordion .card {
    background-color: #fff;
  }

  .accordion .card-body {
    background-color: #fff;
  }

  .accordion .card-header,
  .accordion .card-header.active {
    background-color: #eee;
  }

  .accordion .card-header.active .btn {
    color: #03a9f4;
  }

  .accordion .collapse {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.smallCenterBlock {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.login-logo {
  margin-top: 100px;
  margin-bottom: 60px;
}

#loginBox {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

#loginBox .form-group {
  margin-bottom: 1rem;
}

.signin-button {
  width: 100%;
}

.text-right {
  text-align: right;
}

.pwd-container {
  position: relative;
}

.pwd-container input {
  padding-right: 50px;
}

.pwd-container svg {
  position: absolute;
  cursor: pointer;
  top: 12.5px;
  right: 15px;
}

.icon-lightgrey {
  color: lightgray;
}

.icon-grey {
  color: grey;
}

.form-control.is-invalid {
  background-image: none;
}

.toggle-button {
  color: #24b8ff;
}

.toggle-button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.dropdown-menu {
  width: 223px;
  background-color: #fff;
  color: #333;
  float: right;
  box-shadow: 3px 3px 3px #999;
  padding: 0;
}

/*
.dropdown-menu button {
  padding: 0.5rem 1rem;
}*/


.dropdown-menu .btn {
  min-width: 90px;
}

.dropdown-item:hover {
  text-decoration: none;
  background-color: #03a9f4;
  color: #fff;
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #03a9f4;
  color: #fff;
}

.no-caret {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-caret i {
  margin-right: 0px !important;
}

.no-caret:after {
  display: none;
}

.green {
  color: #77cc00;
}

.downloadAccordion .card {
  margin-bottom: 0px;
  border-top: none;
  border-bottom: none;
}

.downloadAccordion .card>button {
  border: none;
  text-align: left;
  background-color: #03a9f4;
  color: #FFF;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #FFF;
}

.downloadAccordion .collapse,
.downloadAccordion .collapsing {
  margin-bottom: 0px;
  margin-top: 0px;
  border-top: none;
  border-bottom: none;
}

.downloadAccordion .card-body {
  background-color: #FFF;
}

.downloadsDropDown .dropdown-menu.show .dropdown-menu.show {
  width: inherit !important;
}

.downloadResource {
  padding: 5px 10px;
}

a.dropdown-toggle::after {
  display: none;
}

#resourcesBox .content {
  padding-bottom: 50px;
  overflow: visible;
}

.bigLink {
  background-color: #1c75bc;
  color: #FFF;
  border-bottom: 1px solid #FFFFFF;
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.bigLink:hover {
  color: #FFF;
}

.bigLink span {
  display: block;
  font-size: 16px;
}

.playPreview {
  clear: both;
  float: right;
}

.playPreview img {
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 20px;
}

.b1 .play {
  padding-inline-start: 10px;
}

.b1 .accordion blockquote,
.b1 .accordion .note,
.b1 .accordion .actions {
  margin-inline-start: 0px;
  padding-left: 0px;
}


.b1 .accordion ol,
.b1 .accordion ul {
  padding-inline-start: 20px;
}

.b1 .accordion .card-header.active {
  background-color: #1c75bc;
}

.b1 .accordion .collapsing {
  border: 1px solid #1c75bc;
}

.adminAccordion .card {
  border: none;
  margin-bottom: 0px;
  border-bottom: 1px solid #EEE;
}

.adminAccordion .card-header {
  background-color: #FFF;
  padding: 0px;
  border-bottom: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.adminAccordion .fa-chevron-down {
  padding-right: 10px;
  color: #CCC;
}

.adminAccordion .collapse.show,
.adminAccordion .collapsing {
  margin: 0px;
  border: none;
}

.adminAccordion .card-body {
  padding: 0px;
  background-color: #FFF;
}

.studyAccordion .fa-chevron-down {
  padding-right: 25px;
}

.resourceAccordion .MuiAccordionSummary-root {
  padding-left: 0px;
  padding-right: 0px;
}


.lessonDiv,
.assetDiv,
.variantDiv {
  border-top: 1px solid #EEE;
  padding-top: 2px;
  padding-bottom: 2px;
  ;
}

.lessonDiv {
  padding-right: 60px;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
}


.reportTable> :not(:first-child) {
  border-top: 1px solid #ccc;
}

.reportTable td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.reportTable tr:nth-child(odd) td {
  background-color: #EEE;
}

.modalMarkdown textarea {
  height: 75vh !important;
  overflow-y: scroll !important;
}

#markdownPreview table {
  border-spacing: 0px;
}

#markdownPreview table td,
#markdownPreview table th {
  border: 1px solid #DDD;
  margin: 0px;
  padding: 2px
}

.sectionEditButton,
.elementEditButton {
  float: right;
  background-color: "#FFF";
  border-radius: 5px;
  background-color: #FFF;
}

.columnWrapper:hover {
  background-color: #FF9999;
}

.elementWrapper:hover {
  background-color: #28a745;
}

.sectionWrapper:not(:has(.elementWrapper:hover)):hover {
  background-color: #9999FF !important;
}

.sectionDark {
  color: #EEE;
}

.sectionDark.sectionWrapper:not(:has(.elementWrapper:hover)):hover {
  background-color: #007bff !important;
}

.sectionDark .columnWrapper:hover {
  background-color: #990000;
}

.sectionDark .elementWrapper:hover {
  background-color: #009900;
}

.sectionActions {
  display: none;
  position: absolute;
  top: 10;
  right: 0;
}

.sectionActions.alwaysVisible {
  display: block;
  z-index: 9999;
}

.sectionWrapper:not(:has(.elementWrapper:hover)):hover .sectionActions {
  display: block;
}

.elementActions {
  display: none;
  position: absolute;
  top: 10;
  right: 0;
}

.elementWrapper:hover .elementActions {
  display: block;
  z-index: 2;
}

@media (max-width: 600px) {
  .downloadAccordion {
    min-width: 90vw !important;
  }

  .playPreview {
    clear: both;
    float: none;
  }
}

@media (min-width: 601px) {
  .downloadsDropDown .dropdown-menu.show {
    width: 400px !important;
  }
}

.full-frame {
  width: 100%;
  height: calc(100vh - 64px);
  width: calc(100% + 48px);
  margin-top: -32px;
  margin-left: -24px;
  border: none;
}

/*Start Checkin*/

.bigLinkButton {
  background-color: #FFF;
  color: #24b9ff;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  display: block;
}

.bigLinkButton:hover {
  text-decoration: none;
}

.checkinPerson {
  text-align: left;
}

.checkinPerson .col-1 {
  text-align: center;
  margin-right: 0px;
}

.checkinPerson i {
  font-size: 50px;
  line-height: 60px;
  color: #CCC;
  vertical-align: middle;
}

.checkinPerson .groups {
  font-size: 14px;
}

.checkinPerson span {
  font-size: 14px;
  padding-right: 15px;
}

.checkinServiceTime {
  color: #24b9ff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.checkinServiceTime .col-4 {
  line-height: 60px;
  vertical-align: middle;
  font-size: 25px;
}

.serviceTimeButton {
  margin-top: 0px;
  background-color: #24b9ff;
  color: #FFF;
  font-size: 25px;
}

.checkinGroup {
  color: #24b9ff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.checkinGroup a {
  padding-left: 20px;
  font-size: 25px;
}

.personPhoto {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}

/*End Checkin*/

/*Start Member Directory*/

#peopleTable img {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}

#peopleTable td {
  vertical-align: middle;
}

/*End Member Directory*/

/* Start private messaging & notes */
.messages {
  clear: both;
  margin-left: 60px;
}

.messages .note:first-of-type {
  border-top: none;
}

.note {
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.note:last-child {
  border-bottom: none;
}

.note .postedBy {
  color: #999;
  justify-content: space-between;
  align-items: baseline;
}

.note .postedBy img {
  width: 60px;
  height: 45px;
  margin-right: 15px;
  border-radius: 5px;
}

.note-contents p:first-of-type {
  margin-top: 0;
}

.note-contents p {
  margin-bottom: 0;
}

.text-success {
  color: #28a745
}

.text-danger {
  color: #dc3545
}

/* End private messaging & notes */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
